.user-nav a {
  padding: 5px;
}

header {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

header img.logo {
  height: 150px;
}

header a.header-brand {
  font-size: xx-large;
  text-decoration: none;
  color: royalblue;
  font-weight: bolder;
  font-family: math;
}

header a {
  padding-left: 10px;
}

img.short-game {
  padding: 2px;
}

#grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 2vw;
}

.user-nav a {
  padding: 7px;
}

.info-container .info-no-padding {
  padding: 0;
}
